body {
  position: relative;
  top: 0;
  right: 0;
  left: 0.5;

  display: flex;
  display: block;

  content: "12345";
  text-align: center;
  text-align: center;

  background-color: #ff00ff;

  div {
    text-decoration: none;

    @media (max-width: 900px) {
      text-decoration: underline;

      &:hover,
      &:focus {
        color: yellow;
      }
    }
  }

  @media (min-width: 601px) {
    a {
      text-decoration: none;

      &:hover,
      &:focus {
        color: yellow;
      }
    }
  }
  @media (min-width: 901px) {
    &:hover,
    &:focus {
      color: yellow;
    }
  }
  @media (max-width: 600px) {
    a {
      text-decoration: underline;

      &:hover,
      &:focus {
        color: yellow;
      }
    }
  }
}

h1 {
  color: white;

  @media (min-width: 901px) {
    &:hover,
    &:focus {
      color: yellow;
    }
  }

  @media (min-width: 601px) {
    color: green;
  }

  @media (max-width: 600px) {
    color: red;
  }
}

h2 {
  color: white;

  @media (min-width: 601px) {
    color: green;
  }

  @media (max-width: 600px) {
    color: red;
  }
}

h3 {
  color: white;
  @media (min-width: 701px) {
    &:hover,
    &:focus {
      color: yellow;
    }
  }

  @media (min-width: 901px) {
    color: green;
  }

  @media (max-width: 700px) {
    color: red;
  }
}

h4 {
  color: white;

  @media (min-width: 601px) {
    color: green;
  }

  @media (max-width: 800px) {
    color: red;
  }
}

h4 {
  color: white;

  @media (min-width: 601px) and (max-width: 800px) {
    color: green;
  }

  @media (min-width: 701px) and (max-width: 900px) {
    color: red;
  }
}
