body {
  position: relative;
  top: 0;
  right: 0;
  left: 0.5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: block;
  content: "12345";
  text-align: center;
  text-align: center;
  background-color: #ff00ff;
}
body div {
  text-decoration: none;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

h4 {
  color: white;
}

h4 {
  color: white;
}

body {
  background-color: blue;
  color: red;
}

div {
  width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 601px) {
  body a {
    text-decoration: none;
  }
  body a:hover, body a:focus {
    color: yellow;
  }
  h1 {
    color: green;
  }
  h2 {
    color: green;
  }
  h4 {
    color: green;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  h4 {
    color: green;
  }
}

@media (min-width: 701px) {
  h3:hover, h3:focus {
    color: yellow;
  }
}

@media (min-width: 701px) and (max-width: 900px) {
  h4 {
    color: red;
  }
}

@media (min-width: 901px) {
  body:hover, body:focus {
    color: yellow;
  }
  h1:hover, h1:focus {
    color: yellow;
  }
  h3 {
    color: green;
  }
}

@media (max-width: 900px) {
  body div {
    text-decoration: underline;
  }
  body div:hover, body div:focus {
    color: yellow;
  }
}

@media (max-width: 800px) {
  h4 {
    color: red;
  }
}

@media (max-width: 700px) {
  h3 {
    color: red;
  }
}

@media (max-width: 600px) {
  body a {
    text-decoration: underline;
  }
  body a:hover, body a:focus {
    color: yellow;
  }
  h1 {
    color: red;
  }
  h2 {
    color: red;
  }
}